@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


.screenMain{
  width: 80%;
  height: 100%;
  justify-content: center;
  background-color: #e5173d;
  position: block
  ;

  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  @media(max-width: 1080px){
    right: 6vh;
}
}
.nombre{
    position: relative;
    display: inline-flex;
    left: 28vh;
    top: -40vh;
    @media(max-width: 1080px){
        left: 1vh;
        top: -5vh;
    }

}
.frontend{
    position: relative;
    display: inline-flex;
    top: -6vh;
    @media(max-width: 1080px){
        left: 0vh;
        top: -1vh;
    }

}

.presentacion{
    flex-direction: column;
    z-index: -1;
    
}

.bubble {
    position: relative;
    display: inline-flex;
    color: rgb(0, 0, 0);
    font-family: "Carter One", system-ui;
    background-color: #ffffff;
    padding: 4%;
    width: 40%;
    margin-left: 45%;
    text-align: center;
    border-radius: 80px;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #000000;
    font-size: 20px;
    animation-name: animation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    z-index: 0;
    @media(max-width: 1080px){
        font-size: 18px;
        margin-left: 55%;
      }
    
}
.bubbleInicio{
    position: relative;
    display: inline-flex;
    top: 40px;
    right: 80px;
    animation-name: animationBubble;
    animation-duration: 2s;
    @media(max-width: 1080px){
      top: 0px;
      right: 00px;
    }

}

@keyframes animationBubble {
    0% {right:-900px}
    100%{right: 0px}   
}

.bubble::before {
    border: 2px solid #000000;
    box-shadow: 3px 4px 0px 1px #000000;
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100px;
    position: absolute;
    bottom: -40px;
    left: 60px;
    z-index: 0;
}
    .bubble::after {
        border: 2px solid #000000;
        box-shadow: 3px 4px 0px 1px #000000;
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 100px;
        position: absolute;
        bottom: -68px;
        left: 50px;
        z-index: 0;
    }
@keyframes animation {
    0% {top:0}
    50%{top:8px}
    100% {top:0px}
    
}
.Svg{
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    animation-name: inicio;
    animation-duration: .8s;
    z-index: 2;
    border-radius: 100%;

}
@keyframes inicio {
    0% {width: 0px;}
    100%{width: 500px;}
    
}


.screen{
    position: relative;
}

.parker{
   --s: 25px; /* control the size */
  --c1: #3a3a3a;
  --c2: #171717;

  --c: #0000 71%, var(--c1) 0 79%, #0000 0;
  --_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
  background: linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
    linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
    radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);
    border-radius: 100%;
    z-index: -2;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10%;
    border: 2px solid #000000;
    box-shadow: 3px 4px 0px 1px #000000;
    
    
}

@keyframes mediosR {
    0% {opacity: 0%;}
    90% { opacity: 90%;}
    100%{opacity: 100%;}
    
}
@keyframes mediosRotate {
    0% { rotate: -1deg}
    50% { rotate: 1deg}
    100%{ rotate: -1deg;}
    
}
.skillsIcon{
    z-index: 2;
    font-size: 100px;
    height: 500px;
    width: 500px;
    display: inline-flex;
    position: relative;
    
}
.css3{
    color: rgb(0, 157, 255);
    position: relative;
    top: 90px;

    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  ;


}
.js{
    color: rgb(255, 255, 0);
    position: relative;
    top: 90px;
    left: -330px;
    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2.2s;
}
.react{
    color: rgb(37, 211, 227);
    position: relative;
    top: 300px;
    left: 310px;
    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2.3s;
}
.html5{
    color: rgb(230, 99, 12);
    position: relative;
    top: 350px;
    left: -210px;
    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2.1s;
   
}

.figma{
    color: rgb(64, 218, 115);
    margin-top: 10px;
    position: relative;
    top: -80px;
    left: 200px;

    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.whoIs{
    display: inline-flex;
    z-index: 0;
    margin-bottom: 2vh;
    position: relative;
    justify-content: center;
    color: rgb(226, 51, 51);
    font-size:4vh;
    font-weight: 400;
    font-family: "Kode Mono", monospace;
    text-shadow: 1px 1px 0px #0a0808;
      span{
        font-weight: bold;
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
          }
          span:hover{
      color: #e5173d;

    }
          @media(max-width: 1080px){
        font-size: 2vh;
        left: 0;
    
    }
}

.lamp {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 20vh;
    min-height: 400px;
    width: 20vh;
    margin-left: 90vh;
    min-width: calc(400px * 3 / 7);
    background: #2b4353;
    clip-path: polygon(33% 0, 0 70%, 22% 88%, 0 100%, 100% 100%, 78% 88%, 100% 70%, 67% 0);
    filter: drop-shadow(-2px 5px 15px rgba(182, 56, 56, 0.7));
    @media(max-width: 1080px){
        height: 2vh;
        width: 3vh;
        margin-left: 22vh;
        min-width: calc(300px * 3 / 7);
        min-height: 300px;
        left: 44%;

    }

  }
  
  .glass {
    background: #b6e1e0;
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 30%;
    overflow: hidden;
  }
  
  .lava {
    filter: url("#goo");
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .blob {
    border-radius: 50%;
    background: #e5173d;
    position: absolute;
  }
  
  .blob.top {
    width: 100%;
    height: 4%;
    top: -3.7%;
    left: 0;
  }
  
  .blob.bottom {
    width: 100%;
    height: 4%;
    bottom: -3%;
    left: 0;
  }
  
  .blob:nth-child(1) {
    width: calc(15% * 1.4);
    height: 15%;
    left: 45%;
    bottom: -15%;
    animation: blob-one_2 ease-in-out 7s infinite;
  }
  
  .blob:nth-child(2) {
    width: calc(22% * 1.4);
    height: 22%;
    right: 14%;
    bottom: -15%;
    animation: blob-two_2 ease-in-out 11s infinite;
  }
  
  .blob:nth-child(3) {
    width: calc(32% * 1.4);
    height: 32%;
    bottom: -15%;
    left: 14%;
    animation: blob-three_2 ease-in-out 16s infinite;
  }
  
  @keyframes blob-one_2 {
    0%, 100% {
      transform: translatey(0);
    }
  
    50% {
      transform: translatey(-700%);
    }
  }
  
  @keyframes blob-two_2 {
    0%, 100% {
      transform: translatey(0);
    }
  
    50% {
      transform: translatey(-420%);
    }
  }
  
  @keyframes blob-three_2 {
    0%, 100% {
      transform: translatey(0);
    }
  
    50% {
      transform: translatey(-305%);
    }
  }

   