@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

.nombre{
    position: relative;
    display: inline-flex;
    left: 16vh;
    top: -40vh;
    @media(max-width: 1080px){
        left: 1vh;
        top: -5vh;
    }

}
.frontend{
    position: relative;
    display: inline-flex;
    left: -15vh;
    top: -6vh;
    @media(max-width: 1080px){
        left: 0vh;
        top: -1vh;
    }

}

.presentacion{
    flex-direction: column;
    z-index: -1;
    
}

.bubble {
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "Carter One", system-ui;
    background-color: #ffffff;
    padding: 4%;
    width: 40%;
    margin-left: 45%;
    text-align: center;
    border-radius: 80px;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #000000;
    font-size: 30px;
    animation-name: animation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    z-index: 0;
    @media(min-width: 100px){
      }

    
}
.bubbleInicio{
    position: relative;
    animation-name: animationBubble;
    animation-duration: 2s;

}

@keyframes animationBubble {
    0% {right:-900px}
    100%{right: 0px}   
}

.bubble::before {
    border: 2px solid #000000;
    box-shadow: 3px 4px 0px 1px #000000;
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100px;
    position: absolute;
    bottom: -40px;
    left: 60px;
    z-index: 0;
}
    .bubble::after {
        border: 2px solid #000000;
        box-shadow: 3px 4px 0px 1px #000000;
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 100px;
        position: absolute;
        bottom: -68px;
        left: 50px;
        z-index: 0;
    }
@keyframes animation {
    0% {top:0}
    50%{top:8px}
    100% {top:0px}
    
}
.Svg{
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    animation-name: inicio;
    animation-duration: .8s;
    z-index: 2;
    border-radius: 100%;

}
@keyframes inicio {
    0% {width: 0px;}
    100%{width: 500px;}
    
}


.screen{
    position: relative;
}

.parker{
   --s: 25px; /* control the size */
  --c1: #3a3a3a;
  --c2: #171717;

  --c: #0000 71%, var(--c1) 0 79%, #0000 0;
  --_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
  background: linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
    linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
    radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);
    border-radius: 100%;
    z-index: -2;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10%;
    border: 2px solid #000000;
    box-shadow: 3px 4px 0px 1px #000000;
    
    
}

@keyframes mediosR {
    0% {opacity: 0%;}
    90% { opacity: 90%;}
    100%{opacity: 100%;}
    
}
@keyframes mediosRotate {
    0% { rotate: -10deg}
    50% { rotate: 10deg}
    100%{ rotate: -10deg;}
    
}
.skillsIcon{
    z-index: 2;
    font-size: 100px;
    height: 500px;
    width: 500px;
    display: relative;
}
.css3{
    color: rgb(0, 157, 255);
    position: relative;
    top: -180px;
    left: 200px;
    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  ;


}
.js{
    color: rgb(255, 255, 0);
    position: relative;
    top: -50px;
    left: -200px;
    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2.2s;
}
.react{
    color: rgb(37, 211, 227);
    position: relative;
    top: -50px;
    left: -220px;
    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2.3s;
}
.html5{
    color: rgb(230, 99, 12);
    position: relative;
    top: -180px;
    left: 250px;
    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2.1s;
   
}

.figma{
    color: rgb(64, 218, 115);
    margin-top: 10px;
    position: relative;
    top: -80px;
    animation-name: mediosRotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.whoIs{
    margin-top: 8vh;
    z-index: -1;
    margin-bottom: 2vh;
    position: relative;
    justify-content: center;
    left: 100px;
    color: rgb(226, 51, 51);
    font-size:4vh;
    font-weight: 400;
    font-family: "Kode Mono", monospace;
    text-shadow: 1px 1px 0px #0a0808;
      span{
        font-weight: bold;
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
          }
          span:hover{
      color: #e5173d;

    }
          @media(max-width: 1080px){
        font-size: 2vh;
        left: 0;
    
    }
}
