.skills {
    width: 800px;
    height: 400px;
    margin-right: 40px;
    background: #1e1e1e;
    font-family: Menlo, Consolas, monospace;
    font-size: 14px;
    color: #e6e6e6;
    border-radius: 5px;
    overflow: hidden;
    justify-content: start;

    @media(max-width: 1080px){
        width: 550px;
        height: 350px;    
    }
    
  }
  
  .terminal_toolbar {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #212121;
    justify-content:center;
  }
  
  .butt {
    display: flex;
    align-items: center;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#e48e14 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(146, 40, 40, 0.2);
    box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
  }
  
  .btn-color {
    background: #ee411a;
  }
  .btn2{
    background: #f7bb14;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;  }
  .btn3 {
    background: #3dee1a;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;  }
  .btn:hover {
    cursor: pointer;
  }
  
  .btn:focus {
    outline: none;
    
  }
  
  .butt--exit {
    background: linear-gradient(#f37458 0%, #de4c12 100%);
  }
  
  .add_tab {
    border: 1px solid #fff;
    color: #fff;
    padding: 0 6px;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    cursor: pointer;
    
  }
  
  .user {
    color: #d5d0ce;
    margin-left: 6px;
    font-size: 14px;
    line-height: 15px;
    
  }
  
  .terminal_body {
    background: rgba(0, 0, 0, 0.6);
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    @media(max-width: 1080px){
      font-size: 15px;
  }
    
  }
  
  .terminal_prompt {
    padding: 4px;
    justify-content: start;
    flex-direction: column;

  }
  
  .terminal_prompt span {
    margin-left: 4px;
    justify-content: start;

  }
  
  .terminal_user {
    color: #ff1efb;
    justify-content: start;
    display: flex;

  }
  .define{
    justify-content: start;
    display: flex;
    color: #ff1efb;
    span{
      color: #1eff8e;
    }


  }
  .web {
    color: #1ecbff;
    justify-content: start;

  }
  .terminal_response {
    color: #1eff8e;
  }
  
  .terminal_location {
    color: #4878c0;
  }
  
  .terminal_bling {
    color: #dddddd;
  }
  
  .terminal_cursor {
    display: block;
    height: 20px;
    width: 4px;
    margin-left: 10px;
    animation: curbl 1200ms linear infinite;
    @media(max-width: 1080px){
      height: 16px;
      width: 4px;  
  }
  }
  
  .terminal_output {
    padding: 4px;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .output_text {
    margin: 0;
  }
  
  .terminal_input {
    padding: 4px;
  }
  
  .input_text {
    width: 100%;
    padding: 6px;
    background: transparent;
    border: none;
    color: #e6e6e6;
    caret-color: #1eff8e;
  }
  
  @keyframes curbl {
    0% {
      background: #ffffff;
    }
  
    49% {
      background: #ffffff;
    }
  
    60% {
      background: transparent;
    }
  
    99% {
      background: transparent;
    }
  
    100% {
      background: #ffffff;
    }
  }


  /* card presentacion*/
.quienSoy{
  justify-content: center;
  display: flex; 
  align-items: center;
  position:relative;
  @media(max-width: 1080px){
    left: 0px;

}
}

.cardP {
  --font-color: #ffffff;
  --font-color-sub: #eaeaea;
  --bg-color: #242424;
  --main-color: #000000;
  width: 340px;
  height: 400px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   @media(max-width: 1080px){
      width: 220px;
      height: 354px;
    }
}

.cardP-title {
  text-align: center;
  color: var(--font-color);
  font-size: 40px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @media(max-width: 1080px){
    font-size: 20px;
    font-weight: 400;
  }
}

.cardP-title span {
  font-size: 30px;
  color: var(--font-color-sub);
  @media(max-width: 1080px){
    font-size: 15px;
  }
}

.cardP-photo:hover {
  transition: 0.3s;
  transform: scale(0.4) translate(160px, 150px);

}


.perfil{
  margin-top: 10px;
  border-radius: 100%;
  border: 2px solid #000000;
  box-shadow: 3px 4px 0px 1px #000000;
  width: 200px;
  height: 200px;
  object-fit: cover;
  @media(max-width: 1080px){
    width: 180px;
    height: 180px;
  }
}
.perfil:hover {
  transition: 0.3s;
  transform: rotate(-45deg);
  
}
.desarrollador{
  color: #dddddd;
  justify-content: start;
  display: flex;

}
.ing{
  color: #dddddd;
  justify-content: start;
  justify-content: start;
  display: flex;
}
.soy{
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  color: #dddddd;
  span{
    color: #52e0e7;
  }
}

.css3Icon{
  color: rgb(0, 157, 255);

;


}
.jsIcon{
  color: rgb(255, 255, 0);
 
}
.reactIcon{
  color: rgb(37, 211, 227);

}
.html5Icon{
  color: rgb(230, 99, 12);
 
 
}

.figmaIcon{
  color: rgb(64, 218, 115);
  
}
