@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Luckiest+Guy&family=Titan+One&display=swap');

.ContenidoImg{
    display: flex;
    font-family: "Luckiest Guy", cursive;
    font-size: 39px;
    margin: 10px;

}
.ContenidoBtn{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2vh;
    font-family: "Luckiest Guy", cursive;
    font-size: 40px;

}

.Img{
    display: flex;
    border-radius: 40px;
    border: 2px solid #000000;
    box-shadow: 3px 4px 0px 1px #000000;
    height: 30vh;
    width: 40vh;
    @media(max-width: 1080px){
      height: 20vh;
      width: 25vh;
    }


}
.descripcionImg{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 30vh;
    max-width: 600px;
    border-radius: 40px;
    margin-right: 4vh;
    margin-bottom: 2vh;
    color: #fff;
    
}


.card {
    height: 30vh;
    width: 40vh;
    perspective: 1000px;
    border-radius: 60px;
    @media(max-width: 1080px){
      height: 20vh;
      width: 25vh;
    }
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
    
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    color: #000000;
    
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: #202020;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    transform: rotateY(180deg);
    border-radius: 40px;
    border: 2px solid #000000;
    flex-direction: column;
    box-shadow: 3px 4px 0px 1px #000000;
    @media(max-width: 1080px){
      font-size: 19px;
      font-weight:lighter;

    }
  }

  button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
  .myPortafolio{
    position: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: black;
    margin-left: 84vh;
    background-color: transparent;
    font-size:8vh;
    font-weight: 400;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    z-index: 5;
    transform: translateY(-200px);

    text-shadow: 4px 4px 1px #ffffff;
      span{
        font-weight: bold;
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
        color: #e5173d;

          }
          span:hover{
      color: #2b4353;

    }
          @media(max-width: 1080px){
        font-size: 4vh;
        transform: translateY(50px);
        margin-left: 0vh;


    
    }
    

}