body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  width: 100%;
  height: 100%;
  background: #2a282c;
  background-image: linear-gradient(
      90deg,
      transparent 50px,
      #da2727 50px,
      #25182a 52px,
      transparent 52px
    ),
    linear-gradient(#060505 0.1em, transparent 0.1em);
  background-size: 100% 30px;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
